
.navbar img{
    width: 250px;
    height: 50px;

}

.content{
    display: none;
}

.content.show{
    display: block;
}

/* para esconder, por enquanto, a caixa de "Registrar valor" */
.form {
    display: none;
}
