*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

/* body{overflow: hidden;} */

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
}

.navbar {
    z-index: 3;                                                                                                  /*MUDEI */
    position :absolute;
    background-color: transparent;
    width: 100%;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
}

.divisor{
    position: absolute;
    width: 100%; /* Largura do quadrado (igual à largura da navbar) */
    height: 90px;                                                                                                  /*MUDEI */
    background-color: #E8E8E8; /* Cor de fundo do quadrado */
    z-index: 3;                                                                                                   /*MUDEI */
    opacity: 52%; /* Opacidade do quadrado (opcional) */
    Border-bottom: 3px solid #3A9564;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px black;

}

.navbar img {
    margin: 10px;
    width: 270px;
    height: 50px;
}

.navbar button{
    margin: 25px;
    width: 200px;
    height: 40px; 
    font-size: 20px;
    background-color: #3A9564;
    color: white;
    font-family: Poppins;
    border: none;
    border-radius: 8px;
}

.navbar button:hover{
    background-color: #E8E8E8;
    color: #3A9564;
    border: 1px solid #3A9564;
    transition: all 250ms;
    cursor: pointer;
}

.outContent{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.content{
    margin-top: 10px;
    width: 97%;
    display:flex;
    border-radius: 9px;
    border: 2px solid #3A9564;
}

.color{
    background-color: white;
    height: 100%;
    width: 1.3%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.titleDate{
    padding: 20px;
    padding-top: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #3A9564;
}

.titleDate h1{
    margin-top: 3px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.titleDate p{
    color: #989898;
    font-size: 13px;
    font-weight: 500;
}

.description{
    padding-left: 8px;
    height: 100%;
    width: 95%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


.description p{
    color:#989898;
    font-size: 15px;
}

.value{
    height: 100%;
    width: 20%;
    padding-right: 10px;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.value p{
    color: #3A9564;
    font-size: 20px;
    font-weight: 500;
}

.divButtons {
    background-color: transparent;
    width: 100%;
}

.divContents {
    background-color: #343434;
    height: 430px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    box-shadow: 10px 13px 5px rgb(153, 153, 153);
    overflow-y: auto;
    border-top:10px solid #343434;
}

.contentHide{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentHide h2{
    color: #757575;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.contentHide p{
    color: #757575;
    font-size: 18px;
    font-weight: 500;
}

#folder{
    z-index: 2;
    color: #757575;
    font-size: 80px;
}

#paper{
    z-index: 1;
    color: #75757577;
    font-size: 50px;
    transform: translate(0, 35px);
}


.divContents::-webkit-scrollbar {
    width: 10px;
    margin: 100px;
}

.divContents::-webkit-scrollbar-thumb {
    background-color: #3A9564;
    border-radius: 10px;
    border: 4px solid #343434;
}

.capsule{
    /* background-color: yellow; */
    width: 940px;
    height: 100%;
}
.container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 30%);
}

.outsum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9%;
    position:sticky;
    top: 0;
    background-color: #343434;
    padding-bottom: 10px;
}

.sum{
    width: 97%;
    background-color: #3A9564;
    display:flex;
    justify-content: space-between;
    border-radius: 9px;
}

.sum h2{
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 1px;
    font-weight: 500;
}

.sum p{
    color: white;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 2px;
    font-weight: 500;
}

.content.show {
    display: block;
}

.leftRight {
    border-top: 2px solid #343434;
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 5px rgb(153, 153, 153);
}

.Gastos {
    background-color:#3A9564;
    height: 40px;
    display: flex;
    flex-direction:initial;
    width: 170px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    transform: translate(0, 40px);                                                                                                  /*MUDEI */
}

.Gastos:hover{
    cursor: pointer;
    transition: all 250ms;
    background-color: #48b47a;
}

.Gastos i{
    margin: 7px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.Gastos h1{
    font-weight: 500;
    margin-top: 3px;
    color: white;
    font-size: 26px;
}

.tabBtn{
    font-family: 'Embed code', 'Poppins', Arial, sans-serif;
    background-color: #E8E8E8;
    left:0;
    width: 130px;
    height: 40px;
    border: none;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    color: #343434;
    font-weight: 600;
    font-size: 90%;
    border: 2px solid #B9B9B9;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabBtn:hover{
    transform: translate(5px, 0);
    cursor: pointer;
    transition: all 250ms;
    border-left: none;
}


.tabBtn:focus{
    border-bottom-right-radius: 0px;
    background-color: #343434;
    border-top: 0px;
    border-bottom: none;
    border-left: 2px solid #343434;
    color: #E8E8E8;
    transform: translate(0, 1px);
    border-top-left-radius: 9px;
}

#todos{
    width: 10%;
    border-right: 10px solid black;
    border-radius: 2px solid #B9B9B9;
}

#todos:hover{
    border-right: 10px solid #3A9564;
} 

#todos:focus{
    border-right: 10px solid #3A9564;
}

#moradia{
    width: 10%;
    border-right: 10px solid rgb(109, 0, 0);
    border-left: none;
}

#moradia:hover{
    border-right: 10px solid red;
}

#moradia:focus{
    border-right: 10px solid red;
}

#alimentacao{
    width: 13%;
    border-right: 10px solid rgb(148, 148, 1);
    border-left: none;
}

#alimentacao:hover{
    border-right: 10px solid yellow;
}

#alimentacao:focus{
    border-right: 10px solid yellow;
}

#saude_e_beleza{
    width: 16%;
    border-right: 10px solid rgb(0, 163, 163);
    border-left: none;
}

#saude_e_beleza:hover{
    border-right: 10px solid cyan;
}

#saude_e_beleza:focus{
    border-right: 10px solid cyan;
}

#vestuario{
    width: 12%;
    border-right: 10px solid rgb(153, 0, 153);
    border-left: none;
}

#vestuario:hover{
    border-right: 10px solid magenta;
}

#vestuario:focus{
    border-right: 10px solid magenta;
}

#outros{
    width: 10%;
    border-right: 10px solid rgb(92, 92, 92);
    border-left: none;
}

#outros:hover{
    border-right: 10px solid white;
}

#outros:focus{
    border-right: 10px solid white;
}


.leftRight button{
    background: none;
    border: none;
    padding: 5px 12px 5px 12px;
    font-weight: bold;
    color: #989898;
}

.leftRight button:hover{
    color: #3A9564;
    cursor: pointer;
}

.backBtn{
    z-index: -1;
    position:relative;                                                                                                  /*MUDEI */
    height: 40px;
    width: 70%;                                                                                                  /*MUDEI */
    background-color: #E8E8E8;
    border: 2px solid #B9B9B9;
    transform: translate(0, 40px);                                                                                                  /*MUDEI */
}

.listaDespesas{
    padding-left: 50px;
}

.itemListaDespesa{
    color: white
}

/* Estilizando o form */
.form {
    background:#8887877c;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.formContent {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transition: 1s;
}

.formTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7%;
}

.formTitle h2 {
    padding-top: 2%;
    margin-left: 32%;
    color: #3A9564;
    font-size: 20px;
}

.formTitle button {
    font-size: 20px;
    color: #3A9564;
    border-radius: 7px;
    border: none;
    height: 30px;
    width: 30px;
    padding-top: 3px;
}

.formTitle button:hover {
    background-color: #3A9564;
    color: white;
    cursor:pointer;
    transition: 0.5s;
}

.formContent p{
    font-size: 15px;
    text-align: center;
    color: #989898;
    font-weight: 600;
    margin-bottom: 3%;
}

.formInfo {
    margin-left: 6%;
    margin-right: 6%;
    font-weight: 600;
    font-size: 14px;
}

.input {
    display: flex;
    margin-bottom: 2%;
    margin-top: 1%;
    width: 100%;
    border: 2px solid transparent;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.input:hover, .input:focus {
    border: 2px solid #3A9564;
    box-shadow: 0px 0px 0px 7px rgb(58, 149, 100, 20%);
    background-color: E8E8E8;
}

#description {
    height: 5em;
}

.formButtons {
    display: flex;
    justify-content: center;
}

.formButtons input {
    margin: 5%;
    padding: 1%;
    border-radius: 7px;
    font-size: 15px;
    width: 50%;
}

#cancel {
    color: #989898;
    background-color: #D9D9D9;
    border: none;
}

#cancel:hover {
    background-color: #c5c5c5;
    cursor: pointer;
    transition: 0.5s;
}

#submit {
    color: white;
    background-color: #3A9564;
    border: none;
}

#submit:hover {
    background-color: #57de96;
    cursor: pointer;
    transition: 0.5s;
}

/* Estilizando o porquinho */
.goals {
    display: flex;
    position: fixed;
    bottom: 4.5%;
    right: 4%;
    background-color: none;
    transition: all 0.2s;
}

.goals #savings {
    color: #343434;
    font-size: 60px;
}

.goals #savings:hover{
    color: #3A9564;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-text-stroke: darkgreen 1px;
}

.goals a{
    text-decoration: none;
}

.goals #coin {
    font-size: 30px;
}

#coin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.goals:hover #coin {
    color: gold;
    -webkit-text-stroke: 0.5px goldenrod;
    top: -44%;
    opacity: 1;
}


.content button{
    cursor:pointer;
    background: none;
    border:none;
    border-left: 2px solid #3A9564;
    color: #3A9564;
    font-size: 1px;
    font-weight: bold;
}

.content button:hover{
    background-color: #3A9564;
    color: #343434;
    transition: all 250ms;
}
